@media (max-width: 768px) {

  .footer {
    /* display: none; */
    width: 100%;
  }

  .foot h4,
  .mini-contact img {
    display: none;
  }

  .copy-right {
    display: none;
  }

  .signup-card,
  .sign-card {
    width: auto;
  }

  .nav-elm :link {
    font-size: 10px;
  }

  .icone {
    font-size: 20x;
  }

  .home {
    width: 100%;
  }

  .navBar {
    width: 80%;
    height: auto;
    align-items: center;

  }

  .nav-elm {
    padding: 0 8px;
  }

  .header {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .home {
    width: 100;
    /* padding-right: 15px; */
  }



  h1 {
    font-size: 50px;

  }

  .about {
    width: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    padding: 30px;
  }


  /* .about p {
    font-size: 8px;

  } */
  .profile-pic {
    display: flex;
    flex-direction: column;
  }
  .about li {
    font-size: 14px;
  }

  .left {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
  }

  .left h3 {
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 200px;
    line-height: 170%;
  }

  .trendy-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .foot {
    width: auto;
    display: flex;
    margin: 0 auto;
  }

  hr {
    width: 80%;
  }

  .signup-card,
  .sign-card {
    gap: 20px;
    margin: 6% 0;
    padding: 40px;

  }

  .stop-container {
    align-items: flex-start;
  }

  .delete-stop-btn {
    margin: 0;
  }

  .stop-x {
    align-items: initial;
  }

  .add-card,
  .where-card {
    flex-direction: column;
    text-align: center;
    gap: 50px;
    width: auto;
    /* padding: 30px; */
    border-radius: 40px;
    margin: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to left, #de6a16 0%, #de6a16 15%, white 15%, white 100%);
  }

  .add-header,
  .where-header {
    /* width: auto; */
    width: 363px;

    padding: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600px;
    line-height: 20px;
    letter-spacing: 0.46px;
    white-space: normal;
    min-height: 200px;
  }

  .v-btn {
    width: auto;

  }

  .btn,
  .wt-btn {
    width: 140px;
  }

  .route-header {
    width: auto;
    padding-right: 10px;
  }





  .add-form,
  .where-form {
    width: auto;
  }

  .stop-container {
    padding-top: 5px;
    width: auto;
  }

  .image-container,
  .image-container img {
    width: 363px;
    height: 336px;
    object-fit: cover;
    border-radius: 110px 0px 100px 52px;
  }

  .report-input,
  .message {
    width: 80%;
  }


  .image-container img {
    width: 463px;
    height: 436px;
  }

  .select-input {
    width: 70%;
  }

  .sign-input input,
  .add-input input,
  .where-input input,
  .report-input input,
  .message input {

    width: 80%;

    padding: 10px;
  }

  .sign-input input,
  .add-input input,
  .where-input input,
  .report-input input {

    height: 26px;

  }

  .message input {
    height: 50%;
  }

  .routes {
    padding: 0;
  }


  .route-card {
    border-radius: 8px;
    width: 70%;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 16px 0;
  }

  .points {
    gap: 15%;
  }

  .points li {
    margin: 8px;
  }


  .dis-btn {
    width: auto;
    margin: 5px;
  }

  /* .route-dis{
  width: 100%;
} */


}


@media (min-width: 700px) and (max-width: 1000px) {
  .navBar {
    align-items: center;
    margin: 10px auto;
    align-self: center;
    height: auto;
    width: 80%;
    border-radius: 12px;

  }

  .right {
    /* width: 200px;
    height: 260px; */
    /* border-top-left-radius: 100px; */
    padding-left: 35px;
    width: 500px;
    height: 610px;
    border-top-left-radius: 60x;
    border-top-right-radius: 0;
  }

  .routes,
  .add-header,
  .where-header {
    width: auto;

    font-size: 20px;
    font-style: normal;
    font-weight: 600px;
    line-height: 20px;
    letter-spacing: 0.46px;
    white-space: normal;
    min-height: 200px;
  }

  .add-header,
  .where-header {
    padding: 10px;
  }


  .home {
    width: 100;
    padding-right: 15px;
  }

  .header {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  h1 {
    font-size: 50px;

  }

  .about {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    padding: 60px;
  }


  .about p {
    font-size: 19px;

  }

  .about li {
    font-size: 19px;
  }

  .left {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .left h3 {

    justify-self: center;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 200px;
    line-height: 170%;
  }

  .trendy-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .foot {
    width: auto;
    display: flex;
    margin: 0 auto;
  }

  hr {
    width: 80%;
  }

  .signup-card,
  .sign-card {
    gap: 20px;
    margin: 6% 0;
    padding: 40px;

  }

  .stop-container {
    align-items: flex-start;
  }

  .delete-stop-btn {
    margin: 0;
  }

  .stop-x {
    align-items: initial;
  }

  .add-card,
  .where-card {
    flex-direction: column;
    text-align: center;
    gap: 50px;
    width: auto;
    padding: 30px;
    border-radius: 40px;
    margin: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to left, #de6a16 0%, #de6a16 15%, white 15%, white 100%);
  }


  .image-container {
    width: 463px;
    height: 436px;
    object-fit: cover;
    border-radius: 110px 0px 100px 52px;
  }

  .image-container img {
    width: 463px;
    height: 436px;
  }

  .select-input {
    width: 70%;
  }





  .route-card {
    border-radius: 8px;
    width: 70%;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 16px 0;
  }

  .points {
    gap: 15%;
  }

  .points li {
    margin: 8px;
  }


  .dis-btn {
    width: auto;
    margin: 5px;
  }

  /* .route-dis{
  width: 100%;
} */

}



/* Large Devices (Desktops):
1200px and above:  */
@media (min-width: 1200px) {}